$golden-ratio: 1.61803398875;
$prefixes: -webkit-, -moz-, -ms-, -o-;

$xxs: 320px;
$xs: 480px;
$sm: 640px;
$md: 960px;
$lg: 1200px;
$xl: 1440px;
$xxl: 1600px;

$min-width: $xxs;
$form-min-width: 32.25em;

$transiton: all 0.2s;
$prefixes: -webkit-, -moz-, -ms-, -o-;

$clear: transparent;
$white: #fff;
$brown: #2d221e;

$green: #1f4700;
$light-green: #005b00;
$dark-green: #142800;
$misty-green: fade-out($green, 0.4);

$gray: #dfdfdf;
$light-gray: #e8e8e8;
$dark-gray: #7c7c7c;
