$xxs: 320px !default;
$xs: 480px !default;
$sm: 640px !default;
$md: 960px !default;
$lg: 1200px !default;
$xl: 1440px !default;
$xxl: 1600px !default;

@mixin respond($data: '', $infinity: false) {
  $type: 'only screen';
  $size: $xxs;
  $media: '(min-width: #{$size})';

  @each $param in $data {
    @if type-of($param) ==number {
      @media only screen and (max-width: #{$size}) {
        @content;
      }
    } @else if type-of($param) ==string {
      @if $param== 'xxs' {
        $size: $xxs;
      } @else if $param== 'xs' {
        $size: $xs;
      } @else if $param== 'sm' {
        $size: $sm;
      } @else if $param== 'md' {
        $size: $md;
      } @else if $param== 'lg' {
        $size: $lg;
      } @else if $param== 'xl' {
        $size: $xl;
      } @else if $param== 'xxl' {
        $size: $xxl;
      }

      @if $infinity and type-of($infinity) ==bool {
        $media: '(min-width: #{$size})';
      } @else {
        @if $param== 'xxs' {
          $media: '(max-width: #{$xxs})';
        } @else if $param== 'xs' {
          $media: '(max-width: #{$xs})';
        } @else if $param== 'sm' {
          $media: '(max-width: #{$sm})';
        } @else if $param== 'md' {
          $media: '(max-width: #{$md - 1})';
        } @else if $param== 'lg' {
          $media: '(min-width: #{$md}) and (max-width: #{$lg - 1})';
        } @else if $param== 'xl' {
          $media: '(min-width: #{$lg}) and (max-width: #{$xl - 1})';
        } @else if $param== 'xxl' {
          $media: '(min-width: #{$xl})';
        }
      }

      @media #{$type} and #{$media} {
        @content;
      }
    } @else if type-of($param) ==list {
      @media #{$type} and (min-width: nth($param, 1)) and (max-width: nth($param, 2)) {
        @content;
      }
    }
  }
}

@mixin padding-box($padding, $sizing: border-box) {
  box-sizing: $sizing;
  padding: $padding;
}

@mixin border($size: 1px, $color: $brown, $type: solid) {
  border: $size $type $brown;
}
