@import './../../scss/services/constants.scss';
@import './../../scss/services/mixins.scss';

.header {
  @include padding-box(0.5em);
  background-color: $gray;
}

.content {
  display: flex;
  justify-content: space-between;
}

.center,
.side {
  display: flex;
}

.center {
  flex-grow: 1;
  justify-content: center;
}

.side {
  align-items: center;
  flex-basis: 25%;
}

.right {
  justify-content: flex-end;
}
