@import './../../scss/services/constants.scss';

.wrapper {
  border: 1px solid $dark-gray;
  border-radius: 1.2em;
  display: flex;
  min-width: 30%;
  padding: 0.2em;
  padding-right: 1em;
  transition: all 0.2s;
}

.blur {
  background-color: $light-gray;
}

.focus {
  background-color: $white;
}

.button {
  background-color: $clear;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.icon {
  background-image: url('/images/icons_32x32.svg');
  background-position: 0 0;
  height: 100%;
  width: 100%;
}

.input {
  background-color: $clear;
  border: none;
  flex-grow: 1;
  font-size: 1em;
  vertical-align: middle;
}
