@import './../../scss/services/constants.scss';
@import './../../scss/services/mixins.scss';

.search {
  @include padding-box(0.2em);
  border: 1px solid $dark-gray;
  border-radius: 1.2em;
  display: flex;
  max-width: 30em;
  min-width: 30%;
  padding-right: 1em;
  transition: all 0.2s;
  width: 100%;
}

.blur {
  background-color: $light-gray;
}

.focus {
  background-color: $white;
}

.button {
  background-color: $clear;
  border: none;
  cursor: pointer;
}

.icon {
  background: $clear url('/images/icons_32x32.svg') 0 0;
  height: 32px;
  width: 32px;
}

.input {
  background-color: $clear;
  border: none;
  flex-grow: 1;
  font-size: 1em;
  vertical-align: middle;
}
