@import './services/constants.scss';

* {
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  display: flex;
  flex-flow: column nowrap;
}

html {
  min-height: 100vh;
}

body {
  flex-grow: 1;
}

a {
  border: 1px solid $brown;
  border-radius: 0.3em;
  border-width: 0 0 1px 0;
  color: $green;
  display: inline-block;
  font-weight: bold;
  padding: 0.1em;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    border-color: transparent;
    color: $brown;
  }
}
