@import './../../scss/constants.scss';

.link {
  color: $link-color;
  font-size: 1.2em;
  padding: 0.5em;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: darken($link-color, 10%);
  }
}
